<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
      </li >&nbsp;
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/pensionerDetails">Display All details</a>
    </li>&nbsp;
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/pensionerByAaadhar">Find By Aadhar</a>
      </li>&nbsp;
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/pensionDetail">Pension Details</a>
      </li>&nbsp;
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/pensionDisbursement">Pension Disbursement</a>
      </li>&nbsp;
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Logout</a>
      </li>
    
  </ul>
